/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  min-height: 100vh;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}